body {
	 background-image: url("../images/background.png"); 
	 background-repeat: no-repeat;
      background-size: cover ;
}

.company {
	color: rgb(70, 124, 191) !important;
}

nav {
	margin-top: 35px;
}

.navbar-nav {
	color: rgb(67, 150, 179) !important;
}

.title {
	margin-top: 145px;
	color: rgb(73, 105, 168);
	font-size: 50px;
}

.desc {
	line-height: 32px;
	color: rgb(66, 144, 214);
}

img {
	width: 150%;
	height: 150%;
}

.img-responsive {
  max-width: 100%; /* or to whatever you want here */
  max-height: auto; /* or to whatever you want here */
}


.button {
    background-color: rgb(252, 195, 98);
    border: none;
    color: white;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.navbar-custom {
    color: rgb(67, 150, 179);
    background-color: white;
}

.buttonRounded {
	border-radius: 30px;
}